<section class="mainbar clearfix">
    <section class="matter clearfix">
        <div class="row">            
            <div class="col-xs-12 cr-separator"><div class="cr-blank"></div></div>
            <div class="col-md-4 col-md-offset-4">
                <!--<div id="login-bar" ng-controller="ChangePasswordController">-->
                <ng-form name="vm.frmnewp" novalidate>

                    <div class="form-group">
                        <label for="oldPasswordUserInfo">Old Password</label>
                        <input type="password"
                               class="form-control"
                               placeholder="Old password"
                               id="oldPassword"
                               name="oldPassword"
                               ng-model="vm.oldPassword" required>
                    </div>
                    <p ng-show="vm.frmnewp.oldPassword.$error.required && !vm.frmnewp.oldPassword.$pristine" class="has-error">Required</p>

                    <div class="form-group">
                        <label for="registerPassword">Password</label>
                        <input type="password"  class="form-control" id="registerPassword" name="registerPassword" ng-model="vm.Password" password-validate required>

                    </div>
                    <div ng-show="vm.frmnewp.registerPassword.$invalid && !vm.frmnewp.registerPassword.$pristine && vm.frmnewp.registerPassword.$error.strength" class="has-error">
                        Your password must contain:
                        <p ng-show="vm.frmnewp.registerPassword.$error.letter">At least one letter</p>
                        <p ng-show="vm.frmnewp.registerPassword.$error.number">At least one number</p>
                        <p ng-show="vm.frmnewp.registerPassword.$error.length">At least 8 characters long</p>

                    </div>
                   
                    <div class="form-group">
                        <label for="registerConfirmPassword">Confirm Password</label>
                        <input type="password" class="form-control" id="registerConfirmPassword" name="registerConfirmPassword" ng-model="vm.PasswordConfirmation" pw-check="registerPassword" required>
                    </div>


                    <div class="form-group msg-block" ng-show="vm.frmnewp.$error">
                        <span class="msg-error" ng-show="vm.frmnewp.registerConfirmPassword.$error.pwmatch">
                            Passwords don't match.
                        </span>
                    </div>
                    <!--ng-disabled="vm.frmnewp.$invalid"-->
                    <button class="btn-square btn-block" ng-click="vm.newPassword()">Change Password</button>
                    <span class="has-error">{{vm.Message}}</span>

                </ng-form>
                <!--</div>-->
            </div>
        </div>
    </section>
</section>
