<!--<div id="login-bar" ng-controller="ChangePasswordController">-->
<ng-form name="vm.frmnewp" class="form-horizontal" novalidate>

    <div class="form-group">
        <label for="EmailCode">Email Code</label>
        <input type="text" class="form-control" name="EmailCode" value="" placeholder="email code" ng-model="vm.Code">
    </div>

    <div class="form-group">
        <label for="registerPassword">Password</label>
        <input type="password" required class="form-control" id="registerPassword" name="registerPassword" ng-model="vm.Password" password-validate>

    </div>
    <div ng-show="vm.frmnewp.registerPassword.$invalid && !vm.frmnewp.registerPassword.$pristine && vm.frmnewp.registerPassword.$error.strength" class="has-error">
        Your password must contain:
        <p ng-show="vm.frmnewp.registerPassword.$error.letter">At least one letter</p>
        <p ng-show="vm.frmnewp.registerPassword.$error.number">At least one number</p>
        <p ng-show="vm.frmnewp.registerPassword.$error.length">At least 8 characters long</p>
    </div>

    <div class="form-group">
        <label for="registerConfirmPassword">Confirm Password</label>
        <input type="password" required class="form-control" id="registerConfirmPassword" name="registerConfirmPassword" ng-model="vm.PasswordConfirmation" pw-check="registerPassword" required>
    </div>


    <div class="form-group msg-block" ng-show="vm.frmnewp.$error">
        <span class="msg-error" ng-show="vm.frmnewp.registerConfirmPassword.$error.pwmatch">
            Passwords don't match.
        </span>
    </div>
 
    <div class="col-sm-12 controls">

        <!--ng-disabled="vm.frmnewp.$invalid"-->
        <button class="btn btn-default" ng-click="vm.newPassword()">Change Password</button>

    </div>
    <span class="error">{{vm.Message}}</span>



</ng-form>
<!--</div>-->