// More you can get from here http://lesshat.madebysource.com/

// Rounded corners
@mixin rounded-corner($arc) {
    -moz-border-radius: $arc;
    -webkit-border-radius: $arc;
    border-radius: $arc;  
}
@mixin fade {
  -moz-transition: all 1s ease-in;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

@mixin box-shadow($top, $left, $blur, $color) {  
    -webkit-box-shadow: $top $left $blur $color !important;
    -moz-box-shadow: $top $left $blur $color !important;
    box-shadow: $top $left $blur $color !important;
  
}